<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <context:component-scan base-package="api.pengxin"/>
    <mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/"/>

	<!--子容器中自动扫描且只扫描@Controller -->
	<context:component-scan
		base-package="api.pengxin.web.controller"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!--hander method 和request mapping的关系 
	
	-->
	
	<!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL -->
	<!-- 静态资源经过springmvc框架 在交给web容器处理 静态资源只能放在web的根路径下-->
	<mvc:default-servlet-handler/>
	
	
	<bean
        class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonConverter"/>
            </list>
        </property>
    </bean>

    <!-- 对json支持 -->
    <bean id="jsonConverter"
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes" value="application/json;charset=utf-8" />
        <property name="prettyPrint" value="true" />

    </bean>
	
	
	<!-- 定义JSP文件的位置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass">  
            <value>org.springframework.web.servlet.view.InternalResourceView</value>  
        </property>  
		<property name="order" value="1"></property>
	</bean>
	<!-- ②：拦截器的配置 -->
	<mvc:interceptors>
		<!-- 访问日志 -->
		<mvc:interceptor>
			<mvc:mapping path="/**/*"/>
			<mvc:exclude-mapping path="/static/**/*"/>
			<mvc:exclude-mapping path="/kindeditor/**/*"/>
			<bean class="api.pengxin.common.intercepter.LoggerIntercepter">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>





</beans>
